DB_HOST=mysql-xxxxxxxx.aivencloud.com
DB_PORT=12345
DB_USER=shopflow_reader
DB_PASSWORD=replace-with-a-strong-password
DB_NAME=shopflow
DB_CA_CERT="-----BEGIN CERTIFICATE-----\nreplace-with-the-aiven-ca-certificate\n-----END CERTIFICATE-----"
